[mysqld]
user = mysql
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
bind-address = 0.0.0.0
port = 3306
default_authentication_plugin=caching_sha2_password
activate_all_roles_on_login=1

[client]
socket = /var/run/mysqld/mysqld.sock
